# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\rlawjdgns213\OneDrive\Desktop\코딩테스트 문제들\파이썬\D2\4836. [SW 문제해결 기본] 2일차 - 색칠하기\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
