# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\rlawjdgns213\OneDrive\Desktop\코딩테스트 문제들\파이썬\D3\1284. 수도 요금 경쟁\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
